* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, fantasy;
    background-image: url("./images/header-style.jpg");
    background-image: url("./images/background.jpg");
}

:root {
    --primary-color: white;
    --secondary-color:pink;
    --tertiary-color: lightcoral;
}

/* HEADER STYLE BEGIN */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

header h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}


header nav {
    margin: 7px 0;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px; 
    font-weight: normal;
    font-size: 30px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER STYLE END */

/* SUB HEADER STYLE BEGIN */

.sub-header {
    font-size: 80px; 
    color: var(--primary-color);
    text-align: center; 
    margin: 80px auto 35px auto;
}

.intro a { 
    color: var(--primary-color);
    font-size: 30px;
    padding-bottom: 15px;
    text-decoration: none;
}

.intro p {
    padding: 10px 15px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}

.intro a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* SUB HEADER STYLE END */

/* COMBINED DECLARATIONS */

.flex-row {
    display: flex;
    margin: 0 auto 45px auto;
}

.section-title {
    font-size: 50px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px; 
    padding-top: 100px;
    text-align: center;
    margin: 0 auto 35px auto;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
    color: var(--primary-color);
}

.project-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin-bottom: 50px;
}

.project-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.project-name {
    padding: 20px auto;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color)
}

.project-name a {
    padding: 20px auto;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color) 
}

.project-name a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}

/* END COMBINED DECLARATIONS */

/* BEGIN CONTACT SECTION STYLE */

.contact p {
    margin: 0 auto 20px;
    line-height: 1.5;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:var(--primary-color);
}

.contact a {
    text-decoration: none;
    color: var(--primary-color)
}

.contact a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* END CONTACT SECTION STYLE */

footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--secondary-color);
}